*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.header {
    position: fixed;
    width: 100%;
    color: black;
    background-color: white;
}

nav{
    color: black !important;
    background-color:white !important;
    box-shadow: none!important;
}
  
.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}
  
.header-icon {
    display: none;
}

.header-search {
    color: black;
}

.header-logo {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: inherit;
    color: white;
    text-transform: uppercase;
    padding: 1rem 0;
}
  

.menu-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}
  
     
.menu-item  a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    padding: 0 1rem;
    color:black;
    text-transform: capitalize;
}
  
i {
    display: none;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
    margin: 0 auto;
  }

  .section-container {
    height: 100%;
    overflow: hidden;
  }

  .section-wrapper {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .header {
    position: static;
  }

  .icons {
    display: block;
    cursor: pointer;
    color: white;
  }
    
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 20rem;
        background-color: white;
        /* box-shadow: box-shadow; */
        transform: translateX(-20rem);
    }

     .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .menu-item {
        width: 100%;
        padding: 1rem;
      }
        .menu-item:hover {
          background: darken(white, 10);
        }

        .menu-item a {
          color: dark;
        }

        i {
          position: relative;
          display: inline-block;
          top: 0.3rem;
          margin-right: 1rem;
          color: darken(white, 50);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
          }
    
     
    
     
        .section-wrapper {
          transform: translateX(20rem);
        }
    }


    .hero-img{
      height: 500px !important;
      opacity: 0.7;
    }
    .hero-button{
      background-color: #E9DA5D !important;
      color: black !important;
     padding-top: 10px !important;
     height: 70px !important;
     font-weight: bold !important;
     font-size: 14px !important;
     border-radius: 5px !important;
    }
    .hero-button:hover{
      background-color: #76aa76 !important;
      color: white !important;
    }
    .button-h5{
      font-size: 18px;
      font-family: "Kalam", cursive !important;
      font-weight: bold;
      letter-spacing: .1em;
    
    }
    .button-h1{
      font-size: 50px !important;
      font-family: -apple-system, BlinkMacSystemFont !important;
      font-weight: bold;
    
    }
    .button-h6{
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont !important;
      font-weight: bold;
      margin-bottom: 5% !important;
      letter-spacing: .1em;
    }
    .button-veggie{
      font-size: 42px !important;
      margin-top: 4% !important;
      margin-bottom: 4% !important;
      font-family: -apple-system, BlinkMacSystemFont !important;
      font-weight: bold !important;
    }
    
    /* footer */
    .footer{
      margin: 5% 10% 0px 10%;
    }
    .footer-span{
      font-weight: lighter;
    }
    .footer-logo{
    display: flex;
    }
    .footer-img{
      width: 45px;
    }
    .footer-icon{
      display: flex;
    }
    .footericon-icon{
      height: 20px;
      margin-right: 10px;
    }
    .footer-logo{
      margin-top: 5px;
    }
    .footer-logo > h6{
      font-weight: bold;
    }
    .button-icon{
      background-color: #E9DA5D !important;
      display:block;
      height: 52px !important;
      width: 52px !important;
      border-radius: 50% !important;
    }
    .sendicon-icon{
     height: 45px ;
     padding-top: 12px;
     padding-left: 10px;
    }
    .button-icon:hover{
      background-color: #76aa76 !important;
    }
    .newsletter-p{
      font-size: 0.9rem;
      color: grey;
    }
    .socials{
      display: flex;
      border-top: 1px solid #e1e1e1;
    }
    .socials-icon{
      height: 20px;
      margin-left: 10px;
      margin-top: 15px;
    }
    .socials-p{
      margin-top:15px;
      margin-right: 10px;
    }
    .div-h5{
    font-weight: bold;
    }
    .second-footer{
      background-color: whitesmoke;
      margin-top: 10%;
      padding-top: 3%;
      padding-left: 10%;
     height: 130px !important;
    }
    .privacy{
      margin-left: 85px !important ;
    }
    .secondfooter-icon{
      padding-left: 40px !important;
      margin-top: 5px !important;
    }
    .second-footericon{
      height: 40px;
      margin-left: 15px;
      margin-bottom: 0px;
    }
    





  
  

